.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
}

.auth-card {
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  background: #f0f0f0;
}

.auth-card button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  border-radius: 20px;
  border: none;
  background: #1e88e5;
  color: white;
  font-weight: bold;
}

.login-text a {
  color: #1e88e5;
  text-decoration: none;
  font-weight: bold;
}